{% extends 'base-admin.html.twig' %}

{% block title %}New TypeFlower{% endblock %}

{% block body %}
    <h1>Create new TypeFlower</h1>

    {{ include('type_flower/_form.html.twig') }}

    <a href="{{ path('type_flower_table') }}">back to list</a>
{% endblock %}
