{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% for product in products %}

    <div class="product">
        <div class="image-product">
            {% if(product.urlImg is empty or product.urlImg == 'NULL') %}
                <img src="/img/product/default.png"
                     alt="image.png" class="image"/>
            {% elseif(product.urlImg) %}
                <img src="/img/product/{{ product.urlImg }}"
                     alt="image.png" class="image"/>
            {% endif %}
        </div>
        <div class="sub-info">
            <div class="title-product">
                <p>{{ product.title }}</p>
            </div>
            <div class="button-product">
                <a class="btn btn-success" href="{{ path('show_details', { 'id': product.id }) }}">
                    Ver más
                </a>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}
