<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/_style.html.twig' %}
        <title>{% block title %}Fors Kentia Pego{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    {% include 'partials/_header-admin.html.twig' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-sm-4">
                    {% block sidebar %}
                        {% include 'partials/_sidebar.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'partials/_scripts.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
    {% include 'partials/_footer.html.twig' %}
</html>
